<mat-toolbar class="fancy-toolbar">
  <div class="toolbar-left">
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <a class="app-title">✨ServiceFuzz✨</a>
    <img src="https://lh3.googleusercontent.com/a/ACg8ocLaJxexuHa88Q1viRsHMpdLIEIUjbiNlBs-asm8Pk02NoVN0Sk=s96-c-rg-br100" alt="servicefuzzlogo">
  </div>

  <div class="toolbar-center">
    <button mat-button routerLink="/" [class.active]="isRouteActive('/')">
      <mat-icon>home</mat-icon>
      Home
    </button>
    <button mat-button [matMenuTriggerFor]="businessMenu" class="business-button" [class.active]="isRouteActive('/business')">
      <mat-icon>business</mat-icon>
      Business
    </button>
    <mat-menu #businessMenu="matMenu" class="business-menu">
      <button mat-menu-item routerLink="/business/add">
        <mat-icon>add_business</mat-icon>
        <span>Add Business</span>
      </button>
      <button mat-menu-item routerLink="/business/manage">
        <mat-icon>manage_accounts</mat-icon>
        <span>Manage Businesses</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item routerLink="/business/settings">
        <mat-icon>settings</mat-icon>
        <span>Business Settings</span>
      </button>
    </mat-menu>
    <button mat-button routerLink="/analytics" [class.active]="isRouteActive('/analytics')">
      <mat-icon>analytics</mat-icon>
      Analytics
    </button>
    <button mat-button routerLink="/chat" [class.active]="isRouteActive('/chat')">
      <mat-icon>chat</mat-icon>
      Chat
    </button>
  </div>
 

  <div class="toolbar-right">
    <button mat-icon-button>
      <mat-icon>notifications</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>settings</mat-icon>
    </button>
    <button mat-icon-button routerLink="/sign" [class.active]="isRouteActive('/sign')" class="profile-button">
      <!-- Show user initials if signed in, otherwise show default icon -->
      <div *ngIf="data.currentUser" class="user-avatar">
        {{ getUserInitials() }}
      </div>
      <mat-icon *ngIf="!data.currentUser">account_circle</mat-icon>
    </button>
  </div>
</mat-toolbar>