<p>analytics works!</p>

<!-- Raised Button -->
<button mat-raised-button color="primary">Raised Button</button>

<!-- Flat Button -->
<button mat-flat-button color="accent">Flat Button</button>

<!-- Stroked Button -->
<button mat-stroked-button color="warn">Stroked Button</button>

<!-- Icon Button -->
<button mat-icon-button color="primary" aria-label="Example icon button">
  <mat-icon>play_circle</mat-icon>
</button>

<!-- Raised Button with Icon -->
<button mat-raised-button color="primary">
  <mat-icon>play_circle</mat-icon>
  Watch Overview
</button>